/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

header nav > * {
  float: left;
  width: 10%;
  margin: 0 5%;
  height: 50px;
}

header nav{
  float: left;
  width: 100%;
}

header nav img{
  width: 10%;
  margin: 0 20%;
}

header nav li{
  float: left;
  width: 33%;
  margin: 0 5%;
  list-style: none;
}

main section, main + section{
  float: left;
  height: 300px;
  width: 100%;
  margin: 3% 10%;
}

main section > h1, main section > a, main + section > h3{
  margin: 0 30%;
}

header + main + section + section *{
  float: left;
  width: 50%;
  margin: 0 5%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
