/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav img{
  display: none;
}
header nav *{
  float: left;
  width: 10%;
  margin: 0 5%;
  height: 30px;
}

header nav ul{
  float: left;
  width: 33%;
  margin: 0 10%;
}

main > section{
  width: 50%;
  height: 500px;
  float: left;
  margin: 10% 0%;
}

header + main + section *{
  float: left;
}

header + main + section ul li{
  width: 15%;
  margin: 0 5%;
  list-style: none;
}

header + main + section img{
  width: 20%;
  height: 30px;
  margin: 0 20%;
}


@media screen and (max-width: 390px){
  main section, header + main + section *{
    float: none;
    width: 100%;
  }
  header nav ul li, header nav a{
    display: none;
  }
  header nav img{
   display: block;
  }
  main > section{
    height: 300px;
    margin: 20% 0;
    padding-top: 80px;
  }
  main section + section img{
    width: 100%;
  }
  header + main + section ul{
    padding: 0 0;
  }
  header + main + section ul li{
    float: none;
    width: 100%;
    margin: 5% 0;
    padding: 5% 15%;
    border: 1px solid black;
  }
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
