/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header{
     height: 100px;
}

nav *{
     float: left;
     width: 10%;
     display: block;
}

nav ul, nav form{
     width: 50%;
     float: right;
}

/* main section with search bar */
main{
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     height: 500px;
}

main section{ 
     float: left;
     width: 50%;
     margin: 5% 3%;
}

main section > h1{
     margin: 5% 5%;
}

main section > section{
     float: left;
     width: 100%;
     margin: 0 5%;
}

main section > section > form{
     width: 70%;
     float: left;
}
main section > section > form > input{
     width: 100%;
}

main section > section > a{
     width: 15%;
     float: left;
     padding-left: 10px;
}

main section ul{
     width: 100%;
     list-style: none;
}

main section ul li {
     width: 20%;
     margin: 8% 0;
     float: left;
}

/* About Us section */ 
header + main + section {
     border-top: 1px solid red;
     border-bottom: 1px solid red;
     height: 500px;
}

header + main + section *{
     float: right;
     margin: 0 10%;
     width: 50%;
}

header + main + section > h2{
     padding-top: 5%;
     padding-bottom: 2%;
     font-size: 16px;
}

header + main + section > h3{
     font-size: 50px;
     margin-bottom: 2%;
}

header + main + section > a{
     margin-top: 3%;
}

/*Order Online Now page*/
header + main + section + section{
     border-top: 1px sold black;
     border-bottom: 1px solid black;
     height: 700px;
}

header + main + section + section *{
     text-align: center;
}

header + main + section + section > h2{
     padding-top: 5%;
     font-size: 16px;
}

header + main + section + section > h3{
     font-size: 50px;
     margin-bottom: 2%;
     margin-top: 2%;

}

header + main + section + section section > ul{
     list-style: none;
     float: left;
     width: 100%;
     margin-right: 22%;
     margin-left: 22%;
     margin-bottom: 2%;
}

header + main + section + section section ul > li{
     width: 10%;
     float: left;
     border-bottom: 1px red solid;
     padding-bottom: 1%;
}

/*Row of images*/
header + main + section + section > section + section *{
     display: block;
     float: left;
     width: 100%;
     margin: 0 5%;
}
header + main + section + section > section + section img{
    height: 300px;
    width: 15%;
    max-width: 15%;
    border: 1px solid black;

}

/*Book table and opening hours section*/
header + main + section + section + section{
     height: 700px;
     text-align: center;
     border-bottom: 1px solid black;
}

header + main + section + section + section > h2{
     padding-top: 5%;
     font-size: 16px;
}

header + main + section + section + section > h3{
     font-size: 50px;
     margin-top: 0;
}

header + main + section + section + section > section{
     float: left;
     width: 100%;
}

header + main + section + section + section > section + section, header + main + section + section + section > section + section + section{
     float: left;
     width: 50%;
}

/* video */ 
header + main + section + section + section > section + section + section + img{
     display: block;
     width: 50%;
     border: 1px solid black;
     height: 300px;
     margin-left: 25%;
     margin-top: 10%;
}

/* testimonials page*/
header + main + section + section + section + section{
     height: 700px;
     display: block;
     border-bottom: 1px solid black;
     text-align: center;
}

header + main + section + section + section + section > h2{
     padding-top: 5%;
     font-size: 16px;
}

header + main + section + section + section + section > h3{
     font-size: 50px;
     margin-top: 0;
}


header + main + section + section + section + section > section{
     width: 50%;
     margin: 0 25%;
}

header + main + section + section + section + section > p{
     width: 50%;
     margin: 5% 25%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
